.fondo-verde{
    background-color: #28a745;
}

.ubicacion{
    float: inline-start;
    font-size: 0.7em;
    color: #707070;
    margin-top: 0.2em;
}
.direccion{
    display: inline-block;
    overflow: hidden;
    margin-left: 2em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 0.8em;  
    font-family: 'Roboto', sans-serif; 
}
.empresa{
    color: #707070; 
    font-family: 'Roboto', sans-serif;
    
}
.icono {
    overflow: hidden;
    float: left;
   
    
}
.valor{
    overflow: hidden;
    float: left;
    margin-left: 7em;
    margin-top: 0.3em;
    color: #707070;  
  
   
    
}
.valor_negrita{
    display: inline-block;
    overflow: hidden;
    float: right;
    color: #28a745;
    font-size: 20px;
   
} 
.texto_footer{
    
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.posicion{
    margin-left: 602px;
}
.cuppon{
    text-align: center;
    color: black;
}
.footer{
    text-align: center;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}
#boton{
    text-align: center;
}